DLTE-FINAL-PROJECT/accounts.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://accounts.services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://accounts.services" targetNamespace="http://accounts.services">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://accounts.services">

    <!-- Status -->
    <xsd:complexType name="serviceStatus">
        <xsd:sequence>
            <xsd:element name="status" type="xsd:int"/>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Entity-->
    <xsd:complexType name="accounts">
        <xsd:sequence>
            <xsd:element name="accountId" type="xsd:long"/>
            <xsd:element name="accountNumber" type="xsd:long"/>
            <xsd:element name="customerId" type="xsd:long"/>
            <xsd:element name="accountType" type="xsd:string"/>
            <xsd:element name="accountStatus" type="xsd:string"/>
            <xsd:element name="accountBalance" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="customers">
        <xsd:sequence>
            <xsd:element name="customerId" type="xsd:long"/>
            <xsd:element name="customerName" type="xsd:string"/>
            <xsd:element name="customerAddress" type="xsd:string"/>
            <xsd:element name="customerStatus" type="xsd:string"/>
            <xsd:element name="customerContact" type="xsd:long"/>
            <xsd:element name="username" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Filter by -->
    <xsd:element name="filterByStatusRequest">
        <xsd:complexType/>
<!--            <xsd:sequence>-->
<!--                <xsd:element name="customerId" type="xsd:long"/>-->
<!--            </xsd:sequence>-->
<!--        </xsd:complexType>-->
    </xsd:element>
    <xsd:element name="filterByStatusResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
                <xsd:element maxOccurs="unbounded" name="accounts" type="tns:accounts"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="filterByIdRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="customerId" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="filterByIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
                <xsd:element maxOccurs="unbounded" name="customers" type="tns:customers"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>
  </wsdl:types>
  <wsdl:message name="filterByStatusResponse">
    <wsdl:part element="tns:filterByStatusResponse" name="filterByStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="filterByIdRequest">
    <wsdl:part element="tns:filterByIdRequest" name="filterByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="filterByStatusRequest">
    <wsdl:part element="tns:filterByStatusRequest" name="filterByStatusRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="filterByIdResponse">
    <wsdl:part element="tns:filterByIdResponse" name="filterByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountsPort">
    <wsdl:operation name="filterByStatus">
      <wsdl:input message="tns:filterByStatusRequest" name="filterByStatusRequest">
    </wsdl:input>
      <wsdl:output message="tns:filterByStatusResponse" name="filterByStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterById">
      <wsdl:input message="tns:filterByIdRequest" name="filterByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:filterByIdResponse" name="filterByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountsPortSoap11" type="tns:AccountsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="filterByStatus">
      <soap:operation soapAction=""/>
      <wsdl:input name="filterByStatusRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="filterByStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterById">
      <soap:operation soapAction=""/>
      <wsdl:input name="filterByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="filterByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountsPortService">
    <wsdl:port binding="tns:AccountsPortSoap11" name="AccountsPortSoap11">
      <soap:address location="http://localhost:8082/accountsrepo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>